
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: cursive;
}

/**NAVBAR START**/
.nav-box{
  width: 100%;
  display: flex;
  justify-content: center;
}

nav{
  width: 60%;
  margin: auto;
  height: 40px;
  background: orange;
}

/**NAVBAR END**/